body {
    background-color: black;
	color:white;
	font-size: 1.5rem;
	min-height: 100%;
    display: flex;
    flex-direction: column;

}

/*verificar este  trecho*/
.lateral {
	display: flex;
	justify-content: space-between;
}

h2{
	
	color: #DEB959;
	font-size: 3rem;
	
}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	
	font-size: 1.7rem;
}

a:visited {
	color: black;
}

a:hover{
	color: gold;
}

.container {
    background-color: burlywood;
}

nav,
footer, .main, div
{
    width: 100%;
	width:87.5rem;
	margin: 0 AUTO;
}
nav {
    height: 8.12rem;
    background-color: #85cdf5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main{
	background-image:url(../Assets/image.png);
	background-size: cover;
	background-position: center;
	height:31.25rem;	
	text-align: center;
	vertical-align: -webkit-baseline-middle;
	font-size: 3rem;
	}
	
	strong{
		font-size: 3.5rem;
		margin-bottom: 5rem;
	}
			
	.sobre{
		background-color: #2C5680;
		height: 20.8rem;
}

.valores{
	
	background-color: #333333;
	display:flex;
	justify-content: space-between;
}

.valores div{
	width:20%;
}
.valores img{
	background-color: white;
	border-radius: 50%;
	padding: 1rem;
	margin: 1.5rem;
}

.lobo{
	background-color: white;
	color: silver;
}

.lobo div {
	width: 100%;
	background-color:  white;	
	display: flex;
	justify-content: space-around;
}

aside{
	width: 40%;
	
	margin: 5px; 

}

footer {
    
    background-color: #333333;	
	display: flex;
    
    justify-content: center;      
   
}

footer div{
	background-color: rgb(218, 75, 23);
	width: 30%;
}

footer ul {
	background-color: chartreuse;
	width: 30%;
}

 iframe{
	 width: 14.8rem ;
	 height: 11.5rem;
 }